@charset "utf-8";

footer {
  background-color: var(--color5);
  padding: 1.6rem;
  margin-top: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

footer a {
  color: inherit;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
}

#social-link {
  font-size: 2.4rem;
}

#social-link:first-child {
  color: royalblue;
}
